<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Placeholder</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="placeholder" class="label">Placeholder</label>
            <input type="text" nbInput fullWidth id="placeholder" placeholder="Placeholder">
          </div>
          <button type="submit" nbButton status="primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
